# Environment variables
.env

# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Vector database
vectorstore/

# Uploaded/private documents
data/*

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db